.hero {
    background-image: url(../assets/images/homepage/hero-bg-mobile.jpg);
    width: 100%;
    height: 62rem;
    background-repeat: no-repeat;

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $text-color-primary;
        padding-top: 13rem;
    }
}