.hero {
    background-image: url(../assets/images/homepage/hero-bg-mobile.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $text-color-primary;
        padding-top: 13rem;

        h1 {
            font-size: 3rem;
            margin-bottom: 2.1rem;
        }
    }
}