$text-color-primary : #ffffff;
$text-color-secondary : #242b37;
$text-color-tertiary:  #5c6779;

$background-primary: #111111;
$background-secondary: #9e7f66;
$background-tertiary: #ffffff;




$border: #9797974a;
$shadow: #11111169;
$red: #ff0000;
$green: green;
